{% extends "base.html" %}
{% block title %}Edit sample form{% endblock %}

{% block content %}
		<h1>Edit sample {{sample.label}}</h1>
		<script LANGUAGE="JavaScript1.1" SRC="/media/js/marvin/marvin.js"></script>
		<script LANGUAGE="JavaScript1.1">
		function clean2D() {
			if(document.MSketch != null) {
				document.MSketch.clean2D();
			}
		}
		function postMol() {
			var m = document.MSketch.getMol("mrv");
			var cf = document.MSketch.getMolFormula();
			var mass = document.MSketch.getMolMass();
			var atomcount = document.MSketch.getAtomCount();
			if(m != null) {
				document.SampleForm.mol.value = m;
				document.SampleForm.formula.value = cf;
				document.SampleForm.mass.value = mass;
				document.SampleForm.atomcount.value = atomcount;
				document.SampleForm.submit();
			} else {
				alert("No molecule to post.");
			}
			return;
		}
		<!--
		msketch_name = "MSketch";
		msketch_begin("/media/js/marvin", 450, 450); // arguments: codebase, width, height
		msketch_param("mol", "/media/samples/{{sample.id}}/sketch.mrv");
				msketch_end();
		//-->
		</script>

		<form name=MolForm onSubmit="return false">
				<input TYPE=BUTTON VALUE="Clean 2D" onClick="clean2D()">
		</form>

		<div class="sampleform">
		<form action='.' name="SampleForm" method="post">
			{{ form.as_p }}
				<input TYPE=hidden name="mol" value="" >
				<input TYPE=hidden name="formula" value="" >
				<input TYPE=hidden name="mass" value="" >
				<input TYPE=hidden name="atomcount" value="" >
				<input TYPE=BUTTON VALUE="Update" onClick="postMol()">
		</form>
		</div>
{% endblock %}
