{% extends "base.html" %}

{% block extrahead %}
<script>
$(document).ready(function(){
$(function() {
    $("img")
        .mouseover(function() { 
            var src = $(this).attr("src").replace("sketch.png","sketch_big.png");
            $(this).attr("src", src);
        })
        .mouseout(function() {
            var src = $(this).attr("src").replace("sketch_big.png","sketch.png");
            $(this).attr("src", src);
        });
});

							});
</script>
{% endblock %}
{% block title %}List of samples{% endblock %}

{% block content %}
	<div id="main">
		<h1>All samples</h1>
		<h1>All samples</h1>
	{% if object_list %}
		<table>
			<tr>
			<th>label</th>
			<th>structural formula</th>
			<th>type</th>
			<th>code</th>
			<th>owner</th>
			<th>added on</th>
			<th>modified</th>
			<th>added by</th>
		{% if user.is_authenticated %}
			<th>edit</th>
		{% endif %}
			</tr>
		{% for sample in object_list %}
			{%comment%}<tr class="{% cycle 'even' 'odd' %}">{%endcomment%}
			<tr>
			<td><a href="./{{sample.id}}">{{ sample.label }}</a></td>
			<td><a href="./{{sample.id}}/"><img src="/media/samples/{{sample.id}}/sketch.png"></img></a></td>
			<td>{{sample.type}}</td>
			<td><b>{{ sample.code }}</b></td>
			<td><a href="/owners/{{sample.owner_id}}">{{ sample.owner|default_if_none:'No owner Please add' }}</a></td>
			<td>{{ sample.date_added|date:"D d-M-Y h:m" }}</td>
			<td>{{ sample.date_modified|timesince }}</td>
			<td>{{ sample.added_by }}</td>
		{% if user.is_authenticated %}
			<td><a href="./{{sample.id}}/edit/">Edit</a></td>
		{% endif %}
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>No samples found!</p>
	{% endif %}
	</div>
{% endblock %}
